body {
    height: 100vh;               
    margin: 0;                   
    background-color: black;    
    font-family: 'Poppins', sans-serif; 
    display: grid;               
    align-items: center;         
    justify-items: center;       
    font-family: 'Press Start 2P', cursive;
}

.container {
    text-align: center;        
    font-family: 'Press Start 2P', cursive;
}

h1 {
    color: white;                
    margin-bottom: 20px;       
    font-family: 'Press Start 2P', cursive;
}

nav {
    display: flex;               
    flex-direction: column;      
    gap: 15px;                  
}

nav a {
    text-decoration: none;      
    background-color: black;  
    color: white;                
    padding: 10px 20px;        
    border-radius: 5px;        
    border: 2px solid white;
    transition: background-color 0.3s, color 0.3s; 
    font-family: 'Press Start 2P', cursive;
}

nav a:hover {
    background-color: white;     
    color: black;                 
}