<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"> <!-- Link to your CSS -->
</head>
<body>
    <div class="container">
        <h1>Tic Tac Toe</h1>
        <nav>
            <a href="/offline">Offline</a>
            <a href="/multiplayer">Multi Player</a>
        </nav>
    </div>
</body>
</html>
