<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<body>
    <p>Your client ID: {{ clientID }}</p>
    <p>Game ID: {{ gameID }}</p>
    <p>Your symbol: <p id="symbol">waiting...</p></p>

    <input type="hidden" id="clientID" value="{{ clientID }}">
    <input type="hidden" id="gameID" value="{{ gameID }}">
</body>
<script src="/js/multiplayergame.js"></script>
<script>
    let clientID = document.querySelector("#clientID").value;
    let gameID = document.querySelector("#gameID").value;
    let symbolpara = document.querySelector("#symbol");

    let wsc = new WebSocket("ws://localhost:8080");
    wsc.onerror = console.error;
    
    wsc.onmessage = (event) => {
        handle_message(event.data);
    }

    wsc.onopen = (event)=>{
        wsc.send(JSON.stringify({"event": "join", "data": {"clientID": clientID, "gameID": gameID}}));
    }

</script>
</html>