<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplayer Tic Tac Toe</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/multiplayer.css"> <!-- Link to your CSS -->
</head>
<body>
    <div class="container">
        <input type="text" id="gameID" placeholder="Enter the Game ID">
        <input type="button" value="Join" id="join">
        
        <div class="separator"></div>

        <input type="button" value="Create Game" id="create">
    </div>
</body>
<script src="/js/multiplayer.js"></script>
</html>
