<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/offlinetictactoe.css">
    <title>Offline</title>
</head>
<body>
    <div class="GameArea">
    </div>
    <p id="gamestatus"></p>
    <button id="restart">Restart</button>
</body>
<script src="/js/offlinetictactoe.js"></script>
</html>